<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
    <title>Cotizacion</title>
    <link rel="stylesheet" href="./assets/bootstrap/css/bootstrap.min.css">
    <link rel="stylesheet" href="./assets/css/Navbar-Centered-Brand-Dark-icons.css">
</head>

<body>
    <nav class="navbar navbar-dark navbar-expand-md bg-dark py-3">
        <div class="container"><a class="navbar-brand d-flex align-items-center" href="#"><span class="bs-icon-sm bs-icon-rounded bs-icon-primary d-flex justify-content-center align-items-center me-2 bs-icon"><img src="assets/img/logo.png" width="32" height="36"></span><span>Cotización</span></a>
            <div class="collapse navbar-collapse flex-grow-0 order-md-first" id="navcol-6">
                <ul class="navbar-nav me-auto">
                    <li class="nav-item"></li>
                    <li class="nav-item"></li>
                </ul>
                <div class="d-md-none my-2"><button class="btn btn-light me-2" type="button">Button</button><button class="btn btn-primary" type="button">Button</button></div>
            </div>
            <div class="d-none d-md-block"></div>
        </div>
    </nav>

    <form action="/cotizacion" method="post">
    <section class="py-4 py-xl-5">
        <div class="container">
            <div class="col"><label class="form-label">Valor del automóvil:&nbsp;</label><input type="number" name="valor" id="valor" required="true" value="<%=valor%>" style="padding-left: 0px;margin-left: 44px;"></div>
            <div class="col"><label class="form-label">Porcentaje de pago inicial:&nbsp;</label><select name="pInicial" id="pInicial" value="<%=pInicial%>" style="margin-right: 3px;padding-right: 0px;">
                    <optgroup label="Selecciona un porcentaje de pago">
                        <option value="10">10%</option>
                        <option value="20">20%</option>
                        <option value="30">30%</option>
                        <option value="50">50%</option>
                        <option value="70">70%</option>
                    </optgroup>
                </select></div>
            <div class="col"><label class="form-label"></label><label class="form-label">Plazos:&nbsp;</label><select name="plazos" id="plazos" value="<%=plazos%>"style="margin-left: 138px;">
                    <optgroup label="Selecciona un plazo">
                        <option value="12">12 meses</option>
                        <option value="24">24 meses</option>
                        <option value="36">36 meses</option>
                        <option value="48">48 meses</option>
                        <option value="60">60 meses</option>
                        <option value="72">72 meses</option>
                    </optgroup>
                </select></div>
        </div>
        <div class="container">
            <div class="row">
                <div class="col-md-4"><button type="submit" class="btn btn-primary" type="button">Calcular</button></div>
                <div class="col-md-4" style="align-content: center;text-align: center;"></div>
                <div class="col-md-4"></div>
            </div>
        </div>
    </form>
        <hr>
    </section>
    <div class="col">
        <h1>Resultados de la cotización</h1>
        <%
            if(pInicial!=0){
                let pagoInicial = 0;
                let totalFin = 0;
                let pagoMensual = 0;

                pagoInicial = valor * (pInicial/100);
                totalFin = valor - pagoInicial;
                pagoMensual = totalFin/plazos;


                %>
        <div class="table-responsive">
            <table class="table">
                <thead>
                    <tr>
                        <th>Valor del automovil</th>
                        <th>Porcentaje del pago inicial</th>
                        <th>Plazos</th>
                        <th>Pago Inicial</th>
                        <th>Total a financiar</th>
                        <th>Pago mensual</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td><%=valor%></td>
                        <td><%=pInicial%></td>
                        <td><%=plazos%></td>
                        <td><%=pagoInicial%></td>
                        <td><%=totalFin%></td>
                        <td><%=pagoMensual%></td>
                    </tr>
                    <tr></tr>
                    <tr></tr>
                </tbody>
            </table>
        </div>
    </div>
    <% } %>
    
    <script src="./assets/bootstrap/js/bootstrap.min.js"></script>
</body>

</html>