<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="./css/bootstrap.min.css" >
    <script src="./js/bootstrap-bundle.min.js"></script>
    <title>Practica 01 EJS</title>
</head>
<body>
    <div id="container">
    <h1 class="display-3" style="text-align: center">
    <%=titulo%>
    <br>
    <img src="./img/upsinLogo.png" alt="" srcset="">
    </h1>
    <table class="table table-secondary table-striped table-hover">
        <tr class="table-dark">
            <th>Matricula</th>
            <th>Nombre</th>
            <th>Sexo</th>
            <th>Materías</th>
        </tr>
        <% for(alumno of listado){ %>
            <tr class="">
                <td><%=alumno.matricula%></td>
                <td><%=alumno.nombre%></td>
                <td><%=alumno.sexo%></td>
                <td><%=alumno.materias%></td>
            </tr>
        <% } %>
    </table>
    </div>
    <a href="tablas">tablas</a>
</body>
</html>

